div.topBar{
    background-color: #008080;
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    // box-shadow: 0 2px 16px rgba(50,50,50,0.8);

    div{
        display: flex;
        flex-wrap: wrap;
        width: inherit;
        
        input[type=text]{
            outline: none;
            width: 100%;
            min-width: 400px;
            padding: 8px;
            flex-basis: 400px;
            flex-grow: 1;
            flex-shrink: 1;
            // margin-bottom: 8px;
        }
        
        select{
            outline: none;
            padding: 8px;
            margin-left: 2px;
            cursor: pointer;
        }
    }
}

ul#demandas{
    width: 100%;
    list-style: none;

    li{
        margin: 0 4px;
        margin-bottom: 16px;
    }
}