section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80px);

    aside.menuAreaDemandas {
        border-right: solid 1px #008080;
        z-index: 1;
        background-color: #008080;

        div.btnGroup {
            display: flex;
            flex-direction: column;
            button {
                width: 300px;
            }
        }
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        height: calc(100vh - 90px);
        overflow-y: scroll;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;

        aside.menuAreaDemandas {
            border: none;
            width: 100%;
            
            div.btnGroup {
                box-shadow: 0 2px 16px rgba(0,0,0,0.8);
                button {
                    width: inherit;
                }
            }
        }
    }
}