section {
    width: 100%;
    display: flex;
    justify-content: space-between;

    aside.menuAreaDemandas {
        border-right: solid 1px #008080;

        div.btnGroup {
            display: flex;
            flex-direction: column;
            button {
                width: 300px;
            }
        }
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        height: calc(100vh - 90px);
        overflow-y: scroll;
    }
}