$cor_principal: #008080;

form#reg_demanda {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 240px;

    input{
        border: solid 1px $cor_principal;
        margin: 4px;
        padding: 8px;
        user-select: auto;
        cursor: pointer;
    }

    p{
        font-size: 14px;
    }
    
    select, textarea{
        margin: 4px;
        border: solid 1px #008080;
        padding: 8px;
        width: 100%;
        cursor: pointer;
    }
    textarea{
        height: 100px;
    }

    input[type="submit"]{
        cursor: pointer;
        width: 100%;
        transition: all .1s ease-in-out;

        &:hover{
            background-color: #008080;
            color: white;
        }
    }
}

div#protocolo{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
        width: 100%;
        max-width: 256px;
    }
}

button#btnTerceirizada{
    width: 100%;
    text-decoration: none;
    color: black;
    border: solid 1px #008080;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: #008080;
        color: white;

        svg > g > path {
            fill: white;
        }
    }
}