section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80px);

    aside.menuAreaUsuarios {
        border-right: solid 1px #008080;
        z-index: 1;
        background-color: #008080;

        div.btnGroup {
            display: flex;
            flex-direction: column;
            button {
                width: 300px;
            }
        }

        @media screen and (max-width:600px) {
            border: none;
            width: 100%;

            div.btnGroup{
                box-shadow: 0 2px 16px rgba(0,0,0,0.8);
                button{
                    width: inherit;
                }
            }
        }
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 8px;
        overflow-y: scroll;
        scrollbar-width: none;
        position: relative;
        height: calc(100vh - 80px);

        section.modal{
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            display: grid;
            place-content: center;
            
            div.display{
                background-color: white;
                position: relative;
                width: 100%;
                min-width: 650px;

                p#head{
                    background-color: #008080;
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 16px;
                    height: 50px;

                    span{
                        font-weight: bold;
                        color: black;
                    }

                    button{
                        font-size: 25px;
                        font-weight: bold;
                        width: 50px;
                        height: 50px;
                    }

                    @media screen and (max-width: 600px) {
                        display: none;
                    }
                }
                
                div.dados{
                    width: inherit;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 8px;

                    .subDiv{
                        width: inherit;
                        display: flex;
                        flex-direction: column;
                        p{
                            text-align: left;
                            font-size: 20px;
                            display: flex;
                            padding: 4px;
                            align-items: center;
                            
                            span{
                                font-weight: bold;
                            }
                            
                            input, select{
                                border: #008080 solid 1px;
                                padding: 4px;
                                flex-grow: 1;
                                font-size: 16px;
                                height: 30px;
                            }
                            
                            @media screen and (max-width: 1000px) {
                                font-size: 10pt;
                                flex-wrap: wrap;
                            }

                            @media screen and (max-width: 600px) {
                                width: inherit;
                                min-width: auto;
                            }
                        }

                        div.mobileData{
                            position: relative;
                            button.fechar{
                                // position: absolute;
                                font-size: 25px;
                                font-weight: bold;
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    
                    .btnEditar{
                        font-size: 25px;
                        font-weight: bold;
                        width: 100%;
                        max-width: inherit;
                        height: 50px;
                        background-color: #008080;
                        color: white;
                    }
                }

                @media screen and (max-width: 1000px) {
                    min-width: auto;
                }
            }

            @media screen and (max-width: 1000px) {
                display: block;
            }
        }
    }
}
