section#area_de_dispositivos {

    aside.menuAreaDispositivos{
        background-color: #008080;
        width: 100%;
        max-width: 300px;
        display: none;

        div.btnGroup{
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 600px) {
            display: block;
        }
    }

    main{
        h1{
            color: #008080;
        }

        h2.titulo{
            margin: 32px 0;
        }

        table.dispositivos{

            thead, tbody {
                tr{
                    td{
                        @media screen and (max-width:600px) {
                            &:last-child{
                                display: none;
                            }
                        }
                    }

                }
            }
        }
    }
}