div.demanda{
    border: solid 1px #008080;
    padding: 8px;
    display: flex;
    cursor: pointer;
    height: 40px;
    
    p {
        // margin: 8px;
        span{
            font-weight: bold;
        }
    }

    &:hover{
        background-color: #008080;
        color: white;
    }
}