table#usuarios{
    width: 100%;
    border: solid 1px #008080;
    border-collapse: collapse;
    
    thead{
        background-color: #008080;
    }

    tr{
        height: 24px;
        cursor: pointer;
        
        td{
            padding: 4px;
            height: inherit;
        }
        
        
    }
    
    tr.usuarioAtivo{
        background-color: #90eeee;

        &:hover{
            background-color: #008080;
            color: white;
        }
    }
    
    tr.usuarioInativo{
        background-color: #f89999;

        &:hover{
            background-color: #008080;
            color: white;
        }
    }
}

div.aviso{
    display: flex;
    align-items: center;
    margin: 16px 0;
    img.iconeCarregamento{
        width: 24px;
        animation: rotacao 4s linear infinite;
    }

    @keyframes rotacao {
            0%{transform: rotate(0);}
            100%{transform: rotate(-360deg);}
    }
}